body{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
button{
  width: 300px;
  height: 50px;
  margin: 0px auto;
  margin-top: 30px;
  background: linear-gradient(0deg, #f00, #ff7f50);
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 1px 3px #555;
  // overflow: hidden;
  &:hover{
    font-size: 18px;
  }
  &:active{
    box-shadow: none;
    position: relative;
    top: 2px;
    left: 1px;
  }
}
.divider{
  border-bottom: 3px solid #00f;
}

.content1{
  width: 100%;
  background: linear-gradient(150deg, #13f, #e8e8e8 40%, #13f);
  display: flex;
  justify-content: center;
  overflow: hidden;
  .content-inner{
    position: relative;
    max-width: 800px;
    margin: 100px auto;
    padding: 0 50px 50px 50px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50px;
    border: 8px solid #fff;
    h2{
      margin: 50px 0;
      font-size: 42px;
      line-height: 56px;
      span{
        margin-right: 10px;
        font-size: 56px;
        font-family: 'impact';
        font-style: italic;
        color: #dd0000;
        line-height: 100px;
        text-decoration: underline red 5px;
      }
    }
    .half-price{
      position: absolute;
      top: 200px;
      left: 460px;
      transform: rotate(20deg);
    }
    .person{
      position: absolute;
      bottom: 0px;
      right: -350px;
      height: 640px;
    }
    .appeal{
      margin-top: 80px;
      padding-right: 100px;
    }
  }
}
@media screen and (max-width: 600px){
  .content1{
    .content-inner{
      margin: 30px auto;
      padding: 0 10px 10px 10px;
      border: 8px solid #fff;
      h2{
        margin: 30px 0;
        font-size: 20px;
        line-height: 25px;
        span{
          margin-right: 10px;
          font-size: 24px;
          line-height: 30px;
          text-decoration: underline red 5px;
        }
      }
      .half-price{
        position: absolute;
        top: 200px;
        left: 460px;
        transform: rotate(20deg);
      }
      .person{
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 200px;
      }
      .appeal{
        margin-top: 30px;
        padding-right: 100px;
        width: 50%;
      }
    }
  }
}

.content2{
  position: relative;
  margin: 0 auto;
  max-width: 1070px; 
  overflow: hidden;
  .content-inner{
    padding: 30px 0;
    text-align: center;
  }
}
@media screen and (max-width: 600px){
  .content2{
    width: 100%;
    height: none;
    img{
      width: 100%;
    }
  }
}

.content3{
  padding: 30px 0;
  background: linear-gradient(90deg, #13f, #38f 10% , #e8e8e8 50%, #58f 90%, #13f);
  .content-inner{
    padding: 30px;
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    // align-items: center;
    background-color: white;
    border-radius: 30px;
    h2{
      margin: 0;
      font-size: 24px;
      line-height: 30px;
      color: #00f;
    }
    p{
      font-size: 20px;
      margin: 10px 0;
    }
    span{
      color: red;
      font-weight: bold;
    }
  }
}
@media screen and (max-width: 600px){
  .content3{
    padding: 30px 0;
    background: linear-gradient(90deg, #13f, #38f 10% , #e8e8e8 50%, #58f 90%, #13f);
    .content-inner{
      padding: 10px;
      width: 90%;
      margin: 0px auto;
      display: flex;
      flex-direction: column;
      // align-items: center;
      background-color: white;
      border-radius: 30px;
      h2{
        margin: 0;
        font-size: 20px;
        line-height: 25px;
      }
      p{
        font-size: 20px;
        margin: 10px 0;
      }
    }
  }
}

.content4{
  padding: 30px 0;
  background: linear-gradient(90deg, #13f, #38f 10% , #e8e8e8 50%, #58f 90%, #13f);
  .content-inner{
    padding: 30px;
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    border: 3px solid red;
    h2{
      margin: 0;
      font-size: 20px;
      line-height: 26px;
      color: blue;
      border-bottom: 3px solid blue;
    }
    p{
      font-size: 20px;
      margin: 20px 0;
    }
    .active-place{
      margin: 0 auto;
      margin-top: 10px;
      display: flex;
      img{
        margin: 0 30px;
        height: 100%;
      }
      .place-list{
        ul{
          margin: 0;
          padding: 0;
          li{
            margin: 0 10px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px){
  .content4{
    padding: 30px 0;
    .content-inner{
      padding: 10px;
      width: 90%;
      margin: 0px auto;
      display: flex;
      flex-direction: column;
      h2{
        margin: 0;
        font-size: 20px;
        line-height: 30px;
        color: blue;
        border-bottom: 3px solid blue;
      }
      p{
        font-size: 20px;
        margin: 20px 0;
      }
      .active-place{
        margin: 0 auto;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        img{
          width: 100%;
          margin: 0;
        }
        .place-list{
          margin: 0 auto;
          margin-top: 30px;
          display: flex;
          ul{
            margin: 0;
            padding: 0;
            margin: 0;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.content5{
  padding: 30px 0;
  .content-inner{
    padding: 30px;
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    h2{
      margin: 0;
      font-size: 24px;
      line-height: 30px;
      color: blue;
      border-bottom: 3px solid blue;
    }
    .achievement-wrap{
      display: flex;
      align-items: center;
      .text{
        h3{
          margin-top: 30px;
          margin-bottom: 0;
          font-size: 22px;
          text-decoration: underline red;
        }
        p{
          margin: 0;
          font-size: 20px;
        }
      }
      img{
        width: 30%;
        height: 27%;
        margin: 0 auto;
        margin-top: 30px;
      }

    }
  }
}
@media screen and (max-width: 600px){
  .content5{
    padding: 30px 0;
    .content-inner{
      padding: 30px 10px;
      width: 95%;
      margin: 0px auto;
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 30px;
      h2{
        margin: 0;
        font-size: 20px;
        line-height: 30px;
        color: blue;
        border-bottom: 3px solid blue;
      }
      .achievement-wrap{
        display: flex;
        flex-direction: column;
        .text{
          h3{
            margin-top: 30px;
            margin-bottom: 0;
            font-size: 16px;
            text-decoration: underline red;
          }
          p{
            margin: 0;
            font-size: 12px;
          }
        }
        img{
          width: 200px;
          height: 180px;
          margin: 0 auto;
          margin-top: 30px;
        }
      }
    }
  }
}

.content6{
  padding: 30px 0;
  background: linear-gradient(90deg, #13f, #38f 10% , #e8e8e8 50%, #58f 90%, #13f);
  .content-inner{
    padding: 30px;
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    h2{
      margin: 0;
      font-size: 24px;
      line-height: 30px;
      color: blue;
      border-bottom: 3px solid blue;
    }
    table{
      width: 600px;
      margin: 0 auto;
      margin-top: 30px;
      border: 1px solid #1a7ab3;
      border-collapse: collapse;
      text-align: center;
      position: relative;
      thead{
        background-color: #35f;
        color: white;
      }
      tbody{
        line-height: 50px;
        th{
          font-size: 20px;
        }
        td{
          font-size: 16px;
        }
      }
      img{
        height: 120px;
        position: absolute;
        top: 30px;
        left: 500px;
        transform: rotate(10deg);
      }
    }
    span{
      color: red;
      font-weight: bold;
      font-size: 26px;
    }
  }
}
@media screen and (max-width: 600px){
  .content6{
    width: 100%;
    padding: 30px 0;
    background-color: white;
    .content-inner{
      width: 80%;
      padding: 30px 0px;
      margin: 0px auto;
      display: flex;
      flex-direction: column;
      h2{
        margin: 0;
        font-size: 20px;
        line-height: 30px;
      }
      table{
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        padding: 0 30px;
        thead{
          background-color: #35f;
          color: white;
        }
        tbody{
          line-height: 36px;
          th{
            font-size: 12px;
          }
          td{
            font-size: 10px;
          }
        }
        img{
          height: 40px;
          position: absolute;
          top: 50px;
          left: 270px;
          transform: rotate(10deg);
        }
      }
      span{
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}

.content7{
  padding: 30px 0;
  .content-inner{
    width: 500px;
    padding: 30px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    color: blue;
    h2{
      margin: 0;
      font-size: 24px;
      line-height: 30px;
      border-bottom: 3px solid blue;
    }
    ul, ol {
      margin: 0 auto;
      margin-top: 10px;
      color: black;
      border: dashed 2px #668ad8;/*破線 太さ 色*/
      background: #f1f8ff; /*背景色*/
      padding: 0.5em 0.5em 0.5em 2em;
    }
    ul li, ol li {
      line-height: 1.5;
      padding: 0.5em 0;
    }
  }
}
@media screen and (max-width: 600px){
  .content7{
    width: 100%;
    padding: 30px 0;
    .content-inner{
      width: 95%;
      padding: 30px 10px;
      margin: 0px auto;
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 30px;
      color: blue;
      h2{
        margin: 0;
        font-size: 20px;
        line-height: 30px;
        border-bottom: 3px solid blue;
      }
      ul, ol {
        margin: 0 auto;
        margin-top: 10px;
        color: black;
        border: dashed 2px #668ad8;/*破線 太さ 色*/
        background: #f1f8ff; /*背景色*/
        padding: 0.2em 0.2em 0.2em 1em;
      }
      ul li, ol li {
        line-height: 1.5;
        padding: 0.5em 0;
        font-size: 12px;
      }
    }
  }
}

.content8{
  padding: 30px 0;
  display: flex;
  justify-content: center;
  .content-inner{
    padding: 30px;
    width: 80%;
    margin: 0px auto;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    border: 3px solid red;
  }
}

footer{
  padding: 50px 0px;
  background-color: #eee;
  text-align: center;
  h2{
    margin: 0;
    color: #13f;
  }
  .wrap{
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    background: #fff;
    border: 3px solid #13f;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 30px;
    span{
      display: block;
      margin: 0 auto;
      font-size: 24px;
    }
  }
}
@media screen and (max-width: 600px){
  footer{
    padding: 50px 0px;
    text-align: center;
    h2{
      margin: 0;
      font-size: 20px;
    }
    .wrap{
      width: 90%;
      margin: 0 auto;
      margin-top: 10px;
      display: block;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      span{
        display: block;
        margin: 0 auto;
        font-size: 20px;
      }
    }
  }
}