body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  width: 300px;
  height: 50px;
  margin: 0px auto;
  margin-top: 30px;
  background: -webkit-gradient(linear, left bottom, left top, from(#f00), to(#ff7f50));
  background: linear-gradient(0deg, #f00, #ff7f50);
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-shadow: 1px 3px #555;
          box-shadow: 1px 3px #555;
}

button:hover {
  font-size: 18px;
}

button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 2px;
  left: 1px;
}

.divider {
  border-bottom: 3px solid #00f;
}

.content1 {
  width: 100%;
  min-height: 1040px;
  background: linear-gradient(150deg, #13f, #e8e8e8 40%, #13f);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.content1 .content-inner {
  position: relative;
  max-width: 800px;
  max-height: 540px;
  margin: 100px auto;
  padding: 0 50px 50px 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  border: 8px solid #fff;
}

.content1 .content-inner h2 {
  margin: 50px 0;
  font-size: 42px;
  line-height: 56px;
}

.content1 .content-inner h2 span {
  font-size: 56px;
  color: #dd0000;
  line-height: 100px;
  -webkit-text-decoration: underline red 5px;
          text-decoration: underline red 5px;
}

.content1 .content-inner .half-price {
  position: absolute;
  top: 200px;
  left: 460px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.content1 .content-inner .person {
  position: absolute;
  bottom: 0px;
  right: -350px;
}

.content1 .content-inner .appeal {
  margin-top: 80px;
  padding-right: 100px;
}

.content2 {
  position: relative;
  margin: 0 auto;
  max-width: 1070px;
  min-height: 600px;
  overflow: hidden;
}

.content2 .content-inner {
  padding: 100px 0;
  text-align: center;
}

.content3 {
  padding: 30px 0;
  background: -webkit-gradient(linear, left top, right top, from(#13f), color-stop(10%, #38f), color-stop(50%, #e8e8e8), color-stop(90%, #58f), to(#13f));
  background: linear-gradient(90deg, #13f, #38f 10%, #e8e8e8 50%, #58f 90%, #13f);
}

.content3 .content-inner {
  padding: 30px;
  width: 80%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 30px;
}

.content3 .content-inner h2 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  color: #00f;
}

.content3 .content-inner p {
  font-size: 20px;
  margin: 10px 0;
}

.content3 .content-inner span {
  color: red;
  font-weight: bold;
}

.content4 {
  padding: 30px 0;
  background: -webkit-gradient(linear, left top, right top, from(#13f), color-stop(10%, #38f), color-stop(50%, #e8e8e8), color-stop(90%, #58f), to(#13f));
  background: linear-gradient(90deg, #13f, #38f 10%, #e8e8e8 50%, #58f 90%, #13f);
}

.content4 .content-inner {
  padding: 30px;
  width: 80%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 30px;
  border: 3px solid red;
}

.content4 .content-inner h2 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  border-bottom: 3px solid black;
}

.content4 .content-inner p {
  font-size: 20px;
  margin: 20px 0;
}

.content4 .content-inner .active-place {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content4 .content-inner .active-place img {
  margin: 0 30px;
}

.content4 .content-inner .active-place ul {
  margin: 0;
  padding: 0;
}

.content5 {
  padding: 30px 0;
}

.content5 .content-inner {
  padding: 30px;
  width: 80%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 30px;
}

.content5 .content-inner h2 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  color: blue;
  border-bottom: 3px solid blue;
}

.content5 .content-inner .achievement-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content5 .content-inner .achievement-wrap .text h3 {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 22px;
  -webkit-text-decoration: underline red;
          text-decoration: underline red;
}

.content5 .content-inner .achievement-wrap .text p {
  margin: 0;
  font-size: 20px;
}

.content5 .content-inner .achievement-wrap img {
  margin: 0 auto;
  margin-top: 30px;
}
/*# sourceMappingURL=styles.css.map */